* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin-bottom: 7px;
}

body {
    background: linear-gradient(80deg, greenyellow, darkgreen);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-proprietario{
    background: white;
    max-width: 400px;
    min-height: 50vh;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

label.h2{
    font-weight: 600;
    margin-bottom: 2rem;
    margin-padding: 5%;
    position: relative;
}

.btn-salv{
    background-color: darkgreen;
    border-color:rgba(198, 247, 100, 0.808);
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: large;
    align-items: center;
    border-radius: 8px;
}

.btn-volt{
    background-color: darkgreen;
    border-color:rgba(198, 247, 100, 0.808);
    color: white;
    width: 100%;
    height: 40px;
    padding: 0%;
    font-size: large;
    align-items: center;
    border-radius: 8px;
    position: relative;
    top: -10px;
    left: 0px;
}

.campo-geral{
    width: 75%;
    height: 30px;
    border: dotted;
    border-color: hsla(80, 4%, 70%, 0.808);
    border-radius: 8px;
    border: 1px;
}