body {
    margin: 0;
    border: 0;
    padding: 0;
    background: #e4e4e4ce;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-proprietario{
    border: 0;
    background: white;
    max-width: 410px;
    min-height: 48vh;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 8px;
    margin: auto ;
    margin-top: 90px;
    flex-direction: column;
}

.form-group {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.form-group h5 {
    display: inline-block;
    width: auto;
    text-align: right;
    margin-right: 10px;

.form-group input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div.h2{
    font-weight: 600;
    margin-bottom: 2rem;
    margin-padding: 5%;
    position: relative;
    justify-content: center;
}

.btn-salv, .btn-volt {
    background-color: darkgreen;
    border-color: rgba(198, 247, 100, 0.808);
    color: white;
    width: 220px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: large;
    border-radius: 8px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.campo-geral{
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}