<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Cadastro</title>
    <!-- link bootstrap -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->
</head>
<body>
    <label class="lab-proprietarios">
        <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h1>Cadastrar Propriedades</h1>
        </div>
        <div class = "col-8 m-auto pt-4 pb-2 text-center">
            <form name = "form3" id="form3" action="{% if db %}/update3/{{db.id}}/{% else %}/create3/{% endif %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label form="{{ form.Culturas_id.id_for_label }}">Culturas:</label>
                    {{ form.Culturas_id }}
                </div>
                <div class="form-group">
                    <label form="{{ form.Proprietarios_id.id_for_label }}">Proprietarios:</label>
                    {{ form.Proprietarios_id }}
                </div>
                <div class="form-group mt-4">APP: {{form.app}}</div>
                <div class="form-group mt-4">Reserva Legal: {{form.rl}}</div>
                <div class="form-group mt-4">Coordenada da Reserva: {{form.rl_coord}}</div>
                <div class="form-group mt-4">Tamanho da area: {{form.tamanho_area}}</div>
                <div class="form-group mt-4">
                    <input type="submit" class="btn btn-success" value="Salvar">
                </div>
                <div class = "col-8 m-auto pt-2 pb-2 text-center">
                <a href="/" class="btn btn-success">Voltar</a>
                </div>
            </form>
        </div>
    </label>
</body>
</html>