{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Propriedade</title>
   <link rel="stylesheet" href="{% static 'css/cadPropriedade.css' %}">
</head>
<body>
    <div class="div-propriedade">
        <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h2>Cadastrar Propriedades</h2>
        </div>
        <div class="form-group mt-4">Estado:
        <select name="Estado" class="campo0">
            <option value="Estado1">Opção 1</option>
            <option value="opcao2">Opção 2</option>
            <option value="opcao3">Opção 3</option>
            </select>
        </div>
        <div class="form-group mt-4">Microrregião:
        <select name="Microrregião" class="campo01">
            <option value="Microrregião1">Opção 1</option>
            <option value="opcao2">Opção 2</option>
            <option value="opcao3">Opção 3</option>
            </select>
        </div>
        <div class="form-group mt-4">Cidade:
        <select name="Cidade" class="campo02">
            <option value="Cidade1">Opção 1</option>
            <option value="opcao2">Opção 2</option>
            <option value="opcao3">Opção 3</option>
            </select>
        </div>
        <div class="form-group">
        <label for="{{ form.Culturas_id.id_for_label }}">Culturas:</label>
        <select name="{{ form.Culturas_id.name }}" id="{{ form.Culturas_id.id_for_label }}" class="campo1">
            <option value="Cultura1">Opção 1</option>
            <option value="opcao2">Opção 2</option>
            <option value="opcao3">Opção 3</option>
            </select>
        </div>

        <div class="form-group">
        <label for="{{ form.Proprietarios_id.id_for_label }}">Proprietários:</label>
        <select name="{{ form.Proprietarios_id.name }}" id="{{ form.Proprietarios_id.id_for_label }}" class="campo2">
            <option value="proprietario1">Proprietário 1</option>
            <option value="proprietario2">Proprietário 2</option>
            <option value="proprietario3">Proprietário 3</option>
        </select>
        </div>

                <div class="form-group mt-4">Área de Preservação Permanente: {{form.app}}
                <input class="campo-geral" type="text" placeholder="inserir APP" aria-label="Nome">
                </div>
                <div class="form-group mt-4">Reserva Legal: {{form.rl}}
                <input class="campo-geral" type="text" placeholder="inserir reserva" aria-label="Nome">
                </div>
                <div class="form-group mt-4">Coordenada da Reserva: {{form.rl_coord}}
                <input class="campo-geral" type="text" placeholder="insira a coordenada" aria-label="Nome">
                </div>
                <div class="form-group mt-4">Tamanho da area: {{form.tamanho_area}}
                <input class="campo-geral" type="text" placeholder="insira o tamanho da área" aria-label="Nome">
                </div>
                <div class="form-group mt-4">
                    <input type="submit" class="btn-salv" value="Salvar">
                </div>
                <div class = "col-8 m-auto pt-2 pb-2 text-center">
                    <button class="btn-volt">Voltar</button>
                <!--<a href="/" class="btn btn-success">Voltar</a>-->
                </div>
            </form>
        </div>
    </div>
</body>
</html>