{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Cultura</title>
   <link rel="stylesheet" href="{% static 'css/cadCultura.css' %}">
   <script src="{% static 'js/botoes.js' %}"></script>

</head>
<body>
{% if request.user.is_authenticated %}
    <div class="div-cultura">
        <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h2>Cadastrar Cultura</h2>
        </div>
        <div class = "col-8 m-auto pt-4 pb-2 text-center">
            <form name = "form" id="form" action="{% if db %}{% url 'update_cultura' db.id %}{% else %}{% url 'create_cultura' %}{% endif %}"  method="post">
                {% csrf_token %}
                <div>
                    Nome:
                    <input class="campo" type="text" placeholder="inserir Cultura" name="{{ form.TipoCultura.name }}" value="{{ form.TipoCultura.value|default_if_none:'' }}" required>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" id="cadastrar" class="btn-salv" value="Salvar">
                </div>
            </form>

            <button class="button-volt" onclick="Home()">Voltar</button>
        </div>
    </div>
{% else %}
<div class="prohibited-container">
    <h2>Área proibida!</h2>
    <a class="login-link" href="/login">Clique aqui para fazer login</a>
</div>

{% endif %}

</body>
</html>