{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Proprietário</title>
    <link rel="stylesheet" href="{% static 'css/cadProprietario.css' %}">
    <script src="{% static 'js/botoes.js' %}"></script>
</head>
<body>
    <div class="div-proprietario">
        <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h2>Cadastrar Proprietários</h2>
        </div>
        <div class = "col-8 m-auto pt-4 pb-2 text-center">
            <form name = "form2" id="form2" action="{% if db %}/update/{{db.id}}/{% else %}/create_proprietario/{% endif %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-4">Nome: <!--{{form.nomeProprietarios}}-->
                <input class="campo-geral" type="text" placeholder="inserir nome do proprietário" aria-label="Nome">
                </div>
                <div class="form-group mt-4">CPF: <!--{{form.cpf}}-->
                <input class="campo-geral" type="text" placeholder="inserir CPF" aria-label="Nome">
                </div>
                <div class="form-group mt-4">Contato: <!--{{form.contato}}-->
                <input class="campo-geral" type="text" placeholder="insira o número para contato" aria-label="Nome">
                </div>
                <div class="form-group mt-4">
                    <input type="submit" class="btn-salv" value="Salvar">
                </div>
                <div class = "col-8 m-auto pt-2 pb-2 text-center">
                    <button class="btn-volt">Voltar</button>
                <!--<a href="/" class="btn-volt">Voltar</a>-->
                </div>
            </form>
        </div>
    </div>
</body>
</html>