{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/cadPropriedade.css' %}">
    <script src="{% static 'js/botoes.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
</head>
<body>
{% if request.user.is_authenticated %}
    <div class="div-propriedade">
        <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h2>Cadastrar Propriedades</h2>
        </div>
        <div class = "col-8 m-auto pt-4 pb-2 text-center">
            <form name = "form" id="form" action="{% if db %}{% url 'update_propriedade' db.id %}{% else %}{% url 'create_propriedade' %}{% endif %}"  method="post">
                {% csrf_token %}

                <div class="form-group mt-4">Estado:
                    <select id="estado" name="{{ form.Estado.name }}" class="campo0"></select>
                </div>

                <div class="form-group mt-4">Microrregião:
                     <select id="microrregiao" name="{{ form.Microrregiao.name }}" class="campo01"></select>
                </div>

                <div class="form-group mt-4">Cidade:
                     <select id="cidade" name="{{ form.Cidade.name }}" class="campo02"></select>
                </div>

                <div class="form-group">
                    <label>Culturas:</label>
                        {{ form.Culturas}}

                <div class="form-group">
                    <label>Proprietários:</label>
                        {{ form.Proprietarios }}

                <div class="form-group mt-4">Área de Preservação Permanente:
                    <input class="campo-geral" type="text" placeholder="inserir APP" name="{{ form.app.name }}" value="{{ form.app.value|default_if_none:'' }}" required>
                </div>

                <div class="form-group mt-4">Reserva Legal:
                    <input class="campo-geral" type="text" placeholder="inserir reserva" name="{{ form.rl.name }}" value="{{ form.rl.value|default_if_none:'' }}" required>
                </div>

                <div class="form-group mt-4">Coordenada da Reserva:
                    <input class="campo-geral" type="text" placeholder="insira a coordenada" name="{{ form.rl_coordenadas.name }}" value="{{ form.rl_coordenadas.value|default_if_none:'' }}" required>
                </div>

                <div class="form-group mt-4">Tamanho da area:
                    <input class="campo-geral" type="text" placeholder="insira o tamanho da área" name="{{ form.tamanho_area.name }}" value="{{ form.tamanho_area.value|default_if_none:'' }}" required>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" class="btn-salv" value="Salvar">
                </div>

                <div class = "col-8 m-auto pt-2 pb-2 text-center">
                    <button class="btn-volt" onclick="Home()">Voltar</button>
                </div>

            </form>
        </div>
    </div>

{% else %}
<h2> Área proibida!  </h2>
<br>
<a href="/login"> Clique aqui para fazer login </a>

{% endif %}

</body>
</html>