{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Cultura</title>
   <link rel="stylesheet" href="{% static 'css/cadCultura.css' %}">
</head>
<body>
    <div class="div-cultura">
        <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h2>Cadastrar Cultura</h2>
        </div>
        <div class = "col-8 m-auto pt-4 pb-2 text-center">
            <form name = "form" id="form" action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}" method="post">
                {% csrf_token %}
                <div>
                    Nome: <!--{{form.Cultura}}-->
                    <input class="campo" type="text" placeholder=" inserir Cultura" aria-label="Nome">
                </div>

                <div class="form-group mt-4">
                    <input type="submit" id="cadastrar" class="btn-salv" value="Salvar">
                </div>
            </form>
                <!--<p class="mensagem sucesso" id="mensagemSucesso">A Cultura foi cadastrada com sucesso.</p>
                <p class="mensagem erro" id="mensagemErro">Erro ao cadastrar a Cultura. Por favor, tente novamente.</p>
                <script src="script.js"></script>-->
            <!--<p id="aviso" style="display: none; color: green;"></p>-->
            <!--<script src="script.js"></script>-->
            <button class="button-volt">Voltar</button>
        </div>
    </div>
</body>
</html>