{% extends 'menu.html' %}
{% load static %}
{% block title%}Edição e exlusão de dados{% endblock %}
{% block body%}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--<div class = "col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form3" class="btn btn-success">Adicionar Propriedades</a>
    </div>-->

    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <form method = "get">
            <input type="text" id="search3" name="search" class="form-control" placeholder="Buscar">
        </form>
    </div>

    <div class = "col-8 m-auto pt-2 pb-2 text-center">
    <table class="table">
            <!--Cabeçalho da tabela -->
            <thead class="thead-dark">
                  <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">APP</th>
                    <th scope="col">Reserva Legal</th>
                    <th scope="col">Coordenada da Reserva</th>
                    <th scope="col">Tamanho da area</th>
                    <th scope="col">Ações</th>
                  </tr>
            </thead>
            <tbody>
                {%for dbs in db%}
            <!--Inicio do corpo da tabela-->
            <!--Primeira linha-->
                  <tr>
                    <th scope="row">{{dbs.id}}</th>
                    <td>{{dbs.app}}</td>
                    <td>{{dbs.rl}}</td>
                    <td>{{dbs.rl_coord}}</td>
                    <td>{{dbs.tamanho_area}}</td>
                    <td>
                       <a href="/view2/{{dbs.id}}/" class="btn btn-dark"> Visualizar </a>
                       <a href="/edit2/{{dbs.id}}/" class="btn btn-primary"> Editar </a>
                       <a href="/delete2/{{dbs.id}}/" class="btn btn-danger"> Deletar </a>
                    </td>
                  </tr>
                {%endfor%}
          </tbody>
        </table>
    </div>
{% endblock %}