{% extends 'menu.html' %}
{% load static %}
{% block title%}Tela Principal{% endblock %}
{% block body%}
{% if request.user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img src="{% static 'imagens/logo.png.png' %}" class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">MapDB:</h2>
                            <h2 class="display-4"> Para que serve?</h2>
                            <p>O MapDB tem por objetivo otimizar tarefas e fornecer uma interface intuitiva para que o usuário possa realizar a inserção de dados
                                com facilidade, a fim de contribuir com todos os pesquisadores da área e proporcionar eficiência ao utilizar a aplicação web. .</p>
                        </div>
                    </div>
                </div>
            </div>
</section>

<section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img src="{% static 'imagens/interrogacao.png' %}" class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Como navegar pela aplicação?</h2>
                            <p>Para realizar operações é fácil, basta seguir estes passos.</p>
                            <p>1. Para cadastrar, clique em "Realizar Cadastro" na barra de navegação, ápos isso é só escolher a opção desejada. </p>
                            <p>2. Para editar, vizualizar ou excluir dados, basta clicar em "Edição de dados" na barra de navegação. </p>
                        </div>
                    </div>
                </div>
            </div>
</section>

{% else %}

<div class="prohibited-container">
    <h2>Área proibida!</h2>
    <a class="login-link" href="/login">Clique aqui para fazer login</a>
</div>


{% endif %}

{% endblock%}