{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mapeamento de culturas</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="Login">
        <h1>Login</h1>
        <div>
            <input class="login-e-senha" type="text" placeholder= "User">
        </div>
        <div>
            <input class="login-e-senha" type="password" placeholder= "Senha">
        </div>
        <button class="button-login">Entrar</button>
    </div>
</body>
</html>