{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mapeamento de culturas</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="Login">
        <h1>Login</h1>
        <form name="form-login" id="form-login" method="post" action="/process_login/">
            {% if msg%}
            <div class="alert {{class}}">
                {{msg}}
            </div>
            {% endif%}


            {% csrf_token %}
        <div>
            <input class="login-e-senha" type="text" name= "nome" placeholder= "User">
        </div>
        <div>
            <input class="login-e-senha" type="password" name= "senha" placeholder= "Senha">
        </div>
            <input class="button-login" type="submit" value="Entrar">
        </form>
    </div>
</body>
</html>