{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visualização dos dados do Proprietário</title>
    <link rel="stylesheet" href="{% static 'css/viewdadoProprietario.css' %}">
    <script src="{% static 'js/botoes.js' %}"></script>
</head>
<body>
<label class="view-proprietario">
  <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h3>Visualização dos dados do Proprietário</h3>
    </div>
    <br>
    <div class = "col-8 m-auto pt-4 pb-2 text-center">
        <strong> Nome:</strong> {{proprietario.nomeProprietarios}} <br>
        <strong> CPF:</strong> {{proprietario.cpf}} <br>
        <strong> Contato:</strong> {{proprietario.contato}} <br>
    </div>
    <br> <br>
    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <button class="btn-volt" onclick="voltar()">Voltar</button>
    </div>
    </label>
</body>
</html>