{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visualização dos dados da Propriedade</title>
    <link rel="stylesheet" href="{% static 'css/viewdadoPropriedade.css' %}">
</head>
<body>
    <label class="view-propriedade">
    <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h3>Visualização dos dados da propriedade</h3>
    </div>
        <br>
    <div class = "col-8 m-auto pt-4 pb-2 text-center">
        <strong> Cultura:</strong> <br>
        <strong> Proprietarios:</strong> <br>
        <strong> APP:</strong> {{db.app}} <br>
        <strong> Reserva Legal:</strong> {{db.rl}} <br>
        <strong> Coordenada da Reserva:</strong> {{db.rl_coord}} <br>
        <strong> Tamanho da area:</strong> {{db.tamanho_area}} <br>
    </div>
        <br> <br>
    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <button class="btn-volt">Voltar</button>
            <!--<a href="/" class="btn btn-success">Voltar</a>-->
    </div>
    </label>
</body>
</html>