{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visualização dos dados da Propriedade</title>
    <link rel="stylesheet" href="{% static 'css/viewdadoPropriedade.css' %}">
    <script src="{% static 'js/botoes.js' %}"></script>
</head>
<body>
    <label class="view-propriedade">
    <div class = "col-8 m-auto pt-2 pb-2 text-center">
            <h3>Visualização dos dados da propriedade</h3>
    </div>
        <br>
    <div class = "col-8 m-auto pt-4 pb-2 text-center">
        <strong> Estado:</strong> <br>
        <strong> Microrregião:</strong>  <br>
        <strong> Cidade:</strong>  <br>
        <strong> Cultura:</strong> {{propriedade.Culturas}} <br>
        <strong> Proprietarios:</strong> {{propriedade.Proprietarios}} <br>
        <strong> APP:</strong> {{propriedade.app}} <br>
        <strong> Reserva Legal:</strong> {{propriedade.rl}} <br>
        <strong> Coordenada da Reserva:</strong> {{propriedade.rl_coordenadas}} <br>
        <strong> Tamanho da area:</strong> {{propriedade.tamanho_area}} <br>
    </div>
        <br> <br>
    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <button class="btn-volt" onclick="voltar()">Voltar</button>
    </div>
    </label>
</body>
</html>