<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mapeamento de cultura perene</title>
    <!-- link bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link>
</head>
<body>

    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <h1>Projeto de mapeamento das culturas perenes</h1>
    </div>

    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-success">Adicionar Estado</a>
    </div>

    <div class = "col-8 m-auto pt-2 pb-2 text-center">
        <form method = "get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar">
        </form>
    </div>

    <div class = "col-8 m-auto pt-2 pb-2 text-center">
    <table class="table">
            <!--Cabeçalho da tabela -->
            <thead class="thead-dark">
                  <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Ações</th>
                  </tr>
            </thead>
            <tbody>
                {%for dbs in db%}
            <!--Inicio do corpo da tabela-->
            <!--Primeira linha-->
                  <tr>
                    <th scope="row">{{dbs.id}}</th>
                    <td>{{dbs.Estado}}</td>
                    <td>
                       <a href="/view/{{dbs.id}}/" class="btn btn-dark"> Visualizar </a>
                       <a href="/edit/{{dbs.id}}/" class="btn btn-primary"> Editar </a>
                       <a href="/delete/{{dbs.id}}/" class="btn btn-danger"> Deletar </a>
                    </td>
                  </tr>
                {%endfor%}

          </tbody>
        </table>
    </div>
</body>
</html>